

{% extends "base.html" %}
{% block content %}

<div class="container">
<h2>Customers</h2>

<table class="table table-sm">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th></th>
   
    </tr>
    {% for customer in customers %}
    <tr>
        <td>{{ customer.customer_id }}</td>
        <td>{{ customer.first_name }} {{ customer.last_name }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.address }}</td>
        <td><a href="{% url 'customers:customer_detail'  customer.customer_id %}">View</a></td>
        </tr>
    {% endfor %}


</div>
{% endblock %}