


{% extends "base.html" %}
{% block content %}

<h3>
{% if customer.customer_type == "Organization" %}
    {{ customer.organization_name }}
{% elif customer.first_name|length == 0 and  customer.last_name|length == 0 %}
    {{ customer.address }}
{% else %}
    {{ customer.first_name }} {{ customer.last_name }}
{% endif %}
</h3>
<ul class="list-unstyled">
{% if customer.organization_registration_number|length > 0 %}
<li>{{ customer.organization_registration_number }}</li>
{% endif %}
<li>{{ customer.email }}</li>
<li>{{ customer.address }}</li>

<li>{{ customer.phone }}</li>
</ul>
<hr />
<ul class="list-unstyled">
    <li><small>Created: {{ customer.date_created }}</small></li>
    <li><small>Modified: {{ customer.date_modified }}</small></li>
</ul>



<hr/>

<p><a href="">Add Equipment</a></p>
<p><a href="{% url 'customers:edit_customer' customer.customer_id %}">Edit Customer Details</a></p>
<p><a href="{% url 'customers:edit_address' customer.address_id %}">Edit Address</a></p>
<p><a href="{% url 'customers:delete_customer' customer.customer_id %}">Delete</a></p>



{% endblock %}
